<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/Batman.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/index-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
    <title>MF & B</title>
</head>
<body>
    <header>
        <nav class="menu-navegacao">
            <div id="items-menu">
                <a href="#chorao">Chorao</a>
                <a href="#jao">jao</a>
                <a href="#CaetanoVeloso">Caetano Veloso</a>
            </div>
        </nav>
    </header>
    <main>
        <h1 id="titulo-principal">Musicas que me lembram você</h1>
        <hr class="divisor">
    <div id="musicas"> 
        <div id="texto-inicial">
            <div id="chorao">
            <h2 style="text-align: center;" >Chorao</h2>

            <dl>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/f95Gvr2fjyw?si=YjO8Tu1MniwMZY-7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Eu vivo na espera de poder viver a vida com você...</p>
                <hr class="divisor" >
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jp288zfsNTI?si=L66Dndg8BDy5CrtY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>A Vontade de te ver ja e maior que tudo...</p>
                <hr class="divisor" >

                <iframe width="560" height="315" src="https://www.youtube.com/embed/LBgJOOQzjoo?si=iU-irqXl0YkNDuMe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Eu vou fazer tudo oq eu puder...</p>
                <hr class="divisor" >

                <iframe width="560" height="315" src="https://www.youtube.com/embed/pH14Eo04ltg?si=i6c02xbFJdLUODbI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>O meu melhor presente foi você...</p>
            </dl>

        </div>

        </div>
            
        <div id="jao">
            <h2 style="text-align: center;" >Jao</h2>
            <div id="texto-inicial"> 
                <iframe width="560" height="315" src="https://www.youtube.com/embed/XDBqlZMXbBw?si=kIZ_m_UcBHBkFMOa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Eu espero enquanto voce vive, mais n esquece q agnt existe</p>
                <hr class="divisor" >

                <iframe width="560" height="315" src="https://www.youtube.com/embed/OkucMAuPWqk?si=pjpI8HqtGSiHZTQs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>num beijo a gente esquece o pq a gente deu tão errado</p>
                <hr class="divisor" >

                <iframe width="560" height="315" src="https://www.youtube.com/embed/_Zxf3yQzwho?si=ylv2hJzbTBmGbtIa&amp;start=72" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>O Triste e q eu te amo...</p>
                <hr class="divisor" >

                <iframe width="560" height="315" src="https://www.youtube.com/embed/lxh5KYdml6c?si=HtwZw2rZq8UwyKwx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Nao quero mais manter minha paz...</p>
                <hr class="divisor" >

                <iframe width="560" height="315" src="https://www.youtube.com/embed/B7UBbH0lqe0?si=NUTXhGQ3SDoN75Y1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>eu bato meu carro, eu aprendo a roubar, arranjo briga, bebo em algum bar so pra nao lembrar que ainda te amo...  </p>
            </div>
        </div>
        <div id="CaetanoVeloso">
            <h2 style="text-align: center;" >Caetano Veloso</h2>

            <div id="texto-inicial"> 
                <iframe width="560" height="315" src="https://www.youtube.com/embed/469Jy6-8yiA?si=ucqqBaovVeZYtF7G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Que vontade q eu sinto de olhar em seus olhos e ganhar seus abracos...</p>
                <hr class="divisor" >

                <iframe width="560" height="315" src="https://www.youtube.com/embed/aCqDuFkAIL0?si=VisZfAW2Bny3Q-co&amp;start=68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Teu corpo combina com meu jeito </p>
                <hr class="divisor" >

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yMeCcGvorGU?si=C9eCFqJ9Jpn9CmXS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                
                <p>Tudo oq me resta e a vontade de te encontrar...</p>
                <hr class="divisor" >

                <iframe width="560" height="315" src="https://www.youtube.com/embed/kyo33R5x82c?si=dgLITDKSIYZCxgfx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Voce me da sorte...</p>


            </div>
        </div>
    </div>
    </main> 

</body>
</html>